/* Estilos para el título del acordeón */
.accordion-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Estilos para la tabla */
  .custom-table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  /* Estilos para las celdas de encabezado */
  .table-header {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }
  
  /* Estilos para las celdas de la tabla */
  .table-cell {
    padding: 10px;
    text-align: center;
  }
  
  /* Estilos para las filas de la tabla */
  .table-header-row {
    background-color: #e0e0e0;
    font-weight: bold;
  }
  
  .table-row:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table-row:nth-child(odd) {
    background-color: #ffffff;
  }
  